:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  align-items: center;
  text-align: center;
}

/* утилита */
.list {
  list-style: none;
}

/* логотип */
.logo {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo .logo-color {
  color: var(--accent-color);
}
/* .site-nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* add-header */
.add-header .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.add-header .link:hover,
.add-header .link:focus {
  color: var(--accent-color);
}
/*footer*/
.footer {
  background-color: #2f303a;
}
.footer .logo {
  color: var(--primary-white-color);
}
.footer .logo-color {
  color: var(--accent-color);
}
/* address */
address p {
  color: var(--primary-white-color);
  font-style: normal;
}
address a {
  color: var(--footer-link-color);
  text-decoration: none;
  font-style: normal;
}
/* social networks */
.social-text,
.form-text {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.social a {
  text-decoration: none;
}
