.portfilio .filter {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfilio .filter:hover,
.portfilio .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.proects-link a {
  text-decoration: none;
}

/* не ховерится картинка */
/* .proects-img:hover,
.proects-img:focus {
  color: var(--accent-color);
} */

.proects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  text-decoration: none;
}
